<li>
<div class="school">
	<div class="schimg"></div>
	<div class="schinfo">
		<ul class="ul_float">
			<li>		
			<p><%= school.schname%></p>
				<p>地址:<%= school.location%></p>
				<p>电话:<%= school.phone%> </p>
			</li>	
			<li>					
<p><button class="btn" style="width:110px;font-size:medium;font-weight:bolder;color:#8191E5">选择幼儿园</button></p>
			</li>		
			</ul> 
	</div>
			
</div>
</li>
