// Place all the styles related to the clas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cla{
	border: 1px solid gray;
	height: 139px;
	margin-bottom: 5px;
	width: 139px;
	float: left;
	margin-right: 15px;
}
