<header id="nav" class="navbar navbar-fixed-top">
<div style="background-color:rgb(59,89,152);height:40px;auto;box-shadow:0px 2px 2px -2px rgba(0,0,0,0.52);">
	<div class="offset2 ">
		<a href="#" id="logo">欢迎</a>
		<nav>
		  <div class="input-append">
		<input type="text" value="搜索幼儿园、班级、幼师、家长、孩子..." style="height: 15px;
    margin-top: 7px;
    font-size: small;
    margin-left: 30px;">
            <span class="add-on btn" style="
    margin-top: 7px;
    height: 15px;
"><i class="icon-search"></i></span></div>
		<ul class="pull-right nav">
			<li><a class="navfont" href="/" style="font-size: smaller; color: white;">首页</a></li>
			<li><a href="/users/1/select_type" style="font-size: small; color: white;">开通服务</a></li>
				<li> <a href="#" style="font-size: smaller; color: white;">页面</a></li>
				<li id="fat-menu" class="dropmenu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: smaller; color: white;">用户名<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">个人资料</a></li>
					<li><a href="#">设置</a></li>
					<li class="divider"></li>
					<li> 
					<a data-method="delete" href="/signout" rel="nofollow">退出登录</a>
					</li>
				</ul>
				</li>
			</ul></nav>
		</div>
	</div>

</header>
